{% extends 'base.html' %} 

{% block header %}

<h2>{% block title %}Explore{% endblock title %}</h2>

{% endblock header %} 

{% block content %}
    <div class="text">
        <p>**Let's find your perfect hobby!** Answer the following questions by **selecting all that apply** for each one to help us recommend something you'll enjoy:</p>
    </div>
    <form method="post" action="{{url_for('pages.hobby')}}" class="explore-form" onsubmit="return showInput()">
        {% for question in question %}
        <div class="question-card">
            <p style="font-weight: 700" id="question-{{ loop.index }}" class="question">
                {{ loop.index }}. {{ question['question'] }}
            </p>
            {% for option in question['options'] %}
            <label for="ques{{question['id']}}_check{{loop.index}}" class="custom-checkbox" >
                <input
                    type="checkbox"
                    name="ques{{question['id']}}"
                    id="ques{{question['id']}}_check{{loop.index}}"
                    value="{{option}}"
                    onclick="selectOnlyThis(this.id, this.name)" 
                />
                <span class="checkmark"></span>
                {{option}}
            </label>
            {% endfor %}
        </div>
        {% endfor %}
        
        <div class="cta">
            <button type="submit">Submit</button>
        </div>
    </form>
    <footer class="footer1">
        <p>&copy; 2024 HobbyVerse. All rights reserved.</p>
    </footer>
    <script language="JavaScript">
        
    </script>

<!-- <p markdown="1">{{res}}</p> -->

{% endblock content %}
