{% extends 'base.html' %}

{% block header %}
    <h2>{% block title %}Hobby{% endblock title %}</h2>
{% endblock header%}

{% block content %}
<div class="container-hobby">
    <h1>Suitable Hobby Recommendation</h1>
        <div class="hobby-card main-hobby">
            <img src="../../static/img/hobbytime.jpeg" alt="Walking" class="main-hobby-image">
            <div class="hobby-content">
                <h2>{{res['Suitable Hobby Recommendation'][0]}}</h2>
                <p>{{res['Suitable Hobby Recommendation'][1]}}</p>
            </div>
        </div>
        <h3 class="related">Related Hobbies</h3>
        <div class="related-hobbies">
            {% for key, value in res['Related Hobbies'] %}
            <div class="hobby-card">
                <h4>{{key}}</h4>
                <p>{{value}}</p>
            </div>
            {% endfor %}
            <!-- <div class="hobby-card">
                <h4>Running</h4>
                <p>For those with a bit more endurance, running can be a cathartic and invigorating way to de-stress.</p>
            </div>
            <div class="hobby-card">
                <h4>Biking</h4>
                <p>Cycling is a great way to explore the outdoors while getting some cardiovascular exercise.</p>
            </div>
            <div class="hobby-card">
                <h4>Swimming</h4>
                <p>A refreshing and low-impact activity that can be enjoyed in lakes, rivers, or pools.</p>
            </div>
            <div class="hobby-card">
                <h4>Yoga</h4>
                <p>Practiced outdoors, yoga can combine relaxation and flexibility while enjoying the fresh air.</p>
            </div>
            <div class="hobby-card">
                <h4>Parkour</h4>
                <p>For those seeking a more adventurous challenge, parkour involves navigating obstacles and performing acrobatic stunts in an urban environment.</p>
            </div> -->
        </div>
</div>

{% endblock content %}