{% extends 'base.html' %}

{% block header %}
    <h2>{% block title %}Hobby{% endblock title %}</h2>
{% endblock header%}

{% block content %}
<div class="container-hobby">
    <h1>Suitable Hobby Recommendation</h1>
        <div class="hobby-card main-hobby">
            <img src="../../static/img/hobbytime.jpeg" alt="Walking" class="main-hobby-image">
            <div class="hobby-content">
                <h2>{{res['Suitable Hobby Recommendation'][0]}}</h2>
                <p>{{res['Suitable Hobby Recommendation'][1]}}</p>
            </div>
        </div>
        <h3 class="related">Related Hobbies</h3>
        <div class="related-hobbies">
            {% for key, value in res['Related Hobbies'] %}
            <div class="hobby-card">
                <h4>{{key}}</h4>
                <p>{{value}}</p>
            </div>
            {% endfor %}
        </div>
</div>

{% endblock content %}